body, html {
  height: 100%;
  background: url(../images/blackPlates.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  padding-bottom: 20px;
}
.main {
  background: rgb(227,227,227, 0.6);
  color: black;
  width: 50%;
  margin-top: 45px;
  padding: 30px;
}



/* to show/hide hint */
#hint {
  display: none;
}

a:hover {
  color: #e600e6;
}

.fa-github {
  font-size: 2rem;
}

.fa-dumbbell,
.name,
.fa-github,
.copy, .navbar {
  color: rgb(227,227,227);
}

